<div className="row">
  <div className="col-7">
    <div className="image-detail">
      <img width="680px" alt="{item.title}" src="{picture}" />
    </div>

    <div className="col-3">
      <div className="container item-detail-info-container">
        <div className="price-container">
          <div className="item-price">
            <span className="price-symbol">$</span>
            <span className="price-fraction">
              {item.price.amount}.{item.price.decimals}
            </span>
          </div>
        </div>
        <h2 className="item-title">
          <span className="main-title">{item.title}</span>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-4">col-4</div>
  <h2>$ {item.price}</h2>
  <div></div>
  <p>({item.title})</p>
</div>

<form className="search">
  <input
    value="{searchValue}"
    onChange="{handleSearchInputChanges}"
    type="text"
  />
  <input onClick="{callSearchFunction}" type="submit" value="SEARCH" />
</form>
