<div className="container breadCum category">
        <nav aria-label="breadcrumb">
          <ol className="breadcrumb">
            {categories &&
              categories.map((category, index) => (
                <li
                  key={index}
                  className={
                    index == category.length - 1
                      ? "breadcrumb-item active "
                      : "breadcrumb-item"
                  }
                >
                  {category}
                </li>
              ))}
          </ol>
        </nav>
      </div>



      singleResult ? (
              <ItemDetail itemId={itemId}></ItemDetail>
            ) : 


            <BreadCum categories={categories} />
            <div className="content-result">{props.children}</div>