<div
  class="rowItem item product-item highlighted item--stack item--has-row-logo new with-reviews "
  id="MLA830184189"
>
  <div class="item__image item__image--stack">
    <div
      class="images-viewer"
      item-url="https://www.mercadolibre.com.ar/motorola-e5-play-16-gb-negro-2-gb-ram/p/MLA9889587?source=search#position=1&amp;type=product&amp;tracking_id=3124daf7-d9a5-4ce5-92d5-c38ff081a86b"
      item-id="MLA830184189"
      product-id="MLA9889587"
    >
      <div class="image-content">
        <a
          href="https://www.mercadolibre.com.ar/motorola-e5-play-16-gb-negro-2-gb-ram/p/MLA9889587?source=search#position=1&amp;type=product&amp;tracking_id=3124daf7-d9a5-4ce5-92d5-c38ff081a86b"
          class="figure item-image item__js-link"
        >
          <img
            class="lazy-load"
            width="160"
            height="160"
            alt="Motorola E5 Play 16 GB Negro 2 GB RAM"
            src="https://http2.mlstatic.com/D_NP_708975-MLA31541009443_072019-X.webp"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="item__info-container highlighted ">
    <div class="item__info item--show-right-col ">
      <h2 class="item__title list-view-item-title">
        <a
          href="https://www.mercadolibre.com.ar/motorola-e5-play-16-gb-negro-2-gb-ram/p/MLA9889587?source=search#position=1&amp;type=product&amp;tracking_id=3124daf7-d9a5-4ce5-92d5-c38ff081a86b"
          class="item__info-title"
        >
          <span class="main-title">
            Motorola E5 Play 16 GB Negro 2 GB RAM
          </span>
        </a>
      </h2>
      <div class="price__container">
        <div class="item__price ">
          <span class="price__symbol">$</span>
          <span class="price__fraction">12.270</span>
        </div>
      </div>
      <div class="item__stack_column highlighted">
        <div class="item__stack_column__info">
          <div class="stack_column_item shipping highlighted">
            <div class="item__shipping free-shipping highlighted">
              <span class="stack-item-info "> <p>Envío gratis</p> </span>
            </div>
          </div>
          <div class="stack_column_item status"></div>
        </div>
      </div>
      <div class="stack_colum_right without-attributes with-reviews">
        <div class="item__reviews">
          <div class="stars">
            <div class="star star-icon-full"></div>
            <div class="star star-icon-full"></div>
            <div class="star star-icon-full"></div>
            <div class="star star-icon-full"></div>
            <div class="star star-icon-half"></div>
          </div>
          <div class="item__reviews-total">470</div>
        </div>
        <div class="stack_column_right__bottom "></div>
      </div>
    </div>
  </div>
  <form
    class="item__bookmark-form"
    action="/search/bookmarks/MLA830184189/make"
    method="post"
    id="bookmarkForm"
  >
    <button type="submit" class="bookmarks favorite " data-id="MLA830184189">
      <div class="item__bookmark"><div class="icon"></div></div>
    </button>
    <input type="hidden" name="method" value="add" />
    <input type="hidden" name="itemId" value="MLA830184189" />
    <input
      type="hidden"
      name="_csrf"
      value="8abafe3b-70ac-4703-b0e8-ca00c7664159"
    />
  </form>
</div>
